@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofia&display=swap');

:root{
    --primary-color: #0085b1;
    --light-gray: #2b3032a1;
    --border: #2b303218;
    --text-color: #ff686b;
    --roboto: "Bitter", serif;
    --gugi:"Gugi",cursive;
    --sofia:"Sofia",cursive;
}

.primary-color{
    color:var(--primary-color);
}
.bg-primary-color{
    background-color: var(--primary-color)!important;
}
.text-color{
    color: var(--text-color);
}
.font-roboto{
    font-family: var(--roboto);
}
.lightblue{
    color: lightblue;
}

/* Header*/

header{
    background-color: var(--primary-color);
    font-family: var(--roboto);
}

header .site-title{
    font-family: var(--gugi);
}


.gender-box
{
    font-size: 15px !important;
    color: #ffffff;
}
.container-fluid .dropdown-toggle, .container-fluid .dropdown-item{
    
    background-color: #006c91;
    color: #ffffff;
    font-size: 15px;
}

.dropdown-toggle:hover
{
    background-color: #004157;
    color: #ffffff;
}

.header-links a{
    font-size: 15px;
    text-decoration: none;
    color: white;
}
/* Navigation Menu**/

.navbar-nav
{
    font-family: 'Bitter', serif !important;
    padding: 0.8em 0em;
}

.navbar-nav li a
{
    text-align: center;
    font-weight: bold;
    color: #006c91 !important;
}
.navbar-nav li a:hover
{
    font-weight: bold;
    color: #004157 !important;
}
nav
{
    height: 50px !important;
}

.navbar-nar .nav-link
{
    font-size: 0.9em;
    color: #c090ff !important;
}
.navbar-nav .nav-item .nav-link
{
    padding: 0 1.3em;
}

.navbar-nav .basket-icon .search-icon{
    margin-right: 6.5rem !important;
}
.navbar-nav li input
{
    text-align: left;
    width: 200px !important;
}
.navbar-nav .basket-icon :hover{
    cursor: pointer;
    color: #5700c9;
}
.navbar-nav .search-icon :hover
{
    cursor: pointer;
    color: #5700c9;
}
.topnav
{
    width: 50px !important;
}

/* Slider one */

.site-slider{
    position: relative;
}

.position-top{
    position: absolute;
    top: 45%;
}

.site-slider .slider-btn .prev, .site-slider .slider-btn .next{
    background-color: var(--primary-color);
    padding: 1rem 1.5rem;
    border-radius: 10rem;
    color: white;
    margin: 0;
    opacity: 0;
    transition: opacity 1s ease;
}

.site-slider:hover .slider-btn .prev, .site-slider:hover .slider-btn .next{
    opacity: 1;
}

.right-0{
    right: 0;
}

/* Slick Dots */

.slick-dots{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    right: 50%;
}

.slick-dots li{
    margin: 0 0.6rem;
}

.slick-dots button{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    padding: 0;
    border: none;
    background: white;
    text-indent: -99999px;
    border-radius: 100%;
}

.slick-dotas.slick-active button{
    transform: scale(2.5);
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.3);
}

/* Second Slider */

.site-slider-two{
    position: relative;
    height: 30%;
}

.site-slider-two .products{
    height: 25rem;
    position: relative;
    overflow: hidden;
}


.site-slider-two .product img{
    width: 90%;
    margin: auto;
}

.site-btn.btn-span{
    padding: 0.8rem 1.9rem;
    border-radius: 4rem;
    border: 1px solid var(--border);
    background-color: white;
    color: var(--light-gray);
}

.slider-two .slick-track .product:hover span{
    background-color: var(--primary-color);
}

/* Detailed Page*/

.newarrival
{
    background: rgb(253, 72, 0) !important;
    width: 50px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.col-md-7 h2, .col-md-7 p
{
    color: #EC47E6;
}
.price
{
    color: #FE980F;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}

input
{
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    width: 30px;
    text-align: center
}
button
{
    border: black;
}

body
{
    background-color: #c090ff;
}

.product-detail
{
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 3%;
    background-color: #f1e0ff;
    font-family: 'Bitter', serif;
    border: 3px double white;
}
.product-feature
{
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 3%;
    background-color: #f1e0ff;
    max-width: 1500x ;
    font-family: 'Bitter', serif;
    border: 3px double white;
}

.product-feature h2
{
    background: #c090ff;
    width: 200px;
    font-size: 24px;
    padding: 5px;
    height: 40px;
    font-weight: bold;
}
.product-feature .row
{
    margin-top: 20px;
}
.product-feature img
{
    width: 210px;
    height: 240px;
    border: 3px solid #ff90f6 ;
}
.overlay
{
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 7px;
}

.product-top:hover .overlay
{
    opacity: 1;
    margin-left: 5%;
}

.overlay .fa
{
    cursor: pointer;
    background-color: #c090ff;
    color: white;
    border-radius: 10px;
    height: 33px;
    width: 33px;
    font-size: 20px;
    padding: 6px;
    margin-bottom: 5%;
}



.overlay .fa:hover
{
    cursor: pointer;
    background-color: #9b4fff;
    color: white;
    border-radius: 10px;
    height: 33px;
    width: 33px;
    font-size: 20px;
    padding: 6px;
    margin-bottom: 5%;
}

.overlay .btn-secondary
{
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.product-bottom i
{
    font-size: 20px;
    color: #ff53cc;
}
.product-bottom h3
{
    font-size: 15px;
    font-weight: bold
}
.product-bottom h5
{
    font-size: 12px;
    padding-bottom: 10px;
}

.carousel-item
{
    border: 3px solid #ff90f6 ;
}
.cart
{
    margin-left: 10%;
    background-color: #ff90f6;
}
.cart:hover
{
    background-color: #ff53cc;
}

.homepage
{
    margin-left: 20%;
    background-color: #ff90f6;
}
.homepage:hover
{
    background-color: #ff53cc;
}
.form-group
{
    text-align: center;
}


/*Footer*/
.footer {
    background: #0085b1;
    color: #e2e2e2;
    height: 420px;
    font-family: 'Bitter', serif;
}

.footer .footer-bottom
{
    background:#006c91;
    color: #e2e2e2;
    height: 50px;
    text-align: center;

    bottom: 0px;
    left: 0px;
    padding-top: 15px;
    width: 100%;
}
.footer .footer-content
{
    border: 2px solid #003242;
    height: 370px;
    display: flex;
}

.footer .footer-content .footer-section
{
    flex: 1;
    padding: 25px;
    border: 1px solid white;
}
.footer .footer-content .about .contact span
{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}
.footer .footer-content .about .socials a
{
    border: 1px solid white;
    width: 45px;
    height: 45px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 100px;
    color:white;
}
.footer .footer-content .about .socials a:hover{
    border: 1px solid white;
    color: white;
}
.footer input
{
    min-width: 200px;
    width: 350px;
    border: 1px solid white;
    border-radius: 3px;
    text-align: center;
    height: 30px;
}
.footer textarea
{
    min-width: 200px;
    width: 350px;
    border: 1px solid white;
    border-radius: 3px;
    text-align: center;
    height: 30px
}

button:hover
{
    background: white;
}
.description-feedback
{
    font-size: 14px;
}

.products a
{
    color:white;
    
} 
.products a:hover
{
    text-decoration: none;
    color: white;
    margin-left: 10px;
    transition: all 0.5s;

}
* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 120px;
  height: 120px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(234, 164, 255, 50%);
  border: 2px double #EC47E6

}


/*Banner*/
.banner-content
{
    position: relative;
    margin-top: 0em;
}
.banner-btn,.banner-button
{
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.banner-btn,.banner-button
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none;
} 
.banner-disabled,.banner-btn:disabled,.banner-button:disabled
{
    cursor: not-allowed;
    opacity: 0.3;
}
.banner-disabled *,:disabled *
{
    pointer-events: none;
}
.banner-bar-block .banner-dropdown-hover .banner-button,.banner-bar-block .banner-dropdown-click .banner-button
{
    width: 100%;
    text-align: left;
    padding: 8px 16px;
}
.banner-button:hover
{
    color: #000!important;
    background-color: #ccc!important;
}

.banner-content button 
{
    position: absolute;
    top: 32%;
}

.banner-display-right 
{
    right:0;
}
.banner-display-left 
{
    left:0;
}

