<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/css_profile.css"/>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
    <!--Header-->
    <header class="fixed-top">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-4 col-sm-12 col-12 gender-box">
                  Choose your gender :
                  <div class="btn-group">
                     <button class="btn border dropdown-toggle my-md-4 my-2 text-white"
                     data-toggle="dropdown"
                     aria-haspopup="true"
                     aria-expanded="false"
                     >Gender</button>
                     <div class="dropdown-menu">
                         <a href="#" class="dropdown-item">Male</a>
                         <a href="#" class="dropdown-item">Female</a>
                         <a href="#" class="dropdown-item">Other</a>
                     </div>
                 </div>
              </div>
              
              <div class="col-md-4 col-12 text-center">
                  <h3 class="my-md-1 site-title text-white">&diams; ANIMIZ &diams;</h3>
                  <h6 class="my-md-2 text-white"><i class="fa fa-shopping-cart"></i> Shopping anytime anywhere</h6>
              </div>
              <div class="col-md-4 col-12 text-right">
                  <div class="btn-group">
                    <a class="btn border my-md-4 my-2 text-white"  data-toggle="dropdown"
                     aria-haspopup="true"
                     aria-expanded="false" href="#">User account</a>
                     <div class="dropdown-menu">
                         <a href="#" class="dropdown-item">My account</a>
                         <a href="#" class="dropdown-item">My cart</a>
                         <a href="/" class="dropdown-item">Log out</a>
                     </div>
                 </div>
              </div>
              
          </div>
      </div>
  <div class="container-fluid p-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Male Clothes</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Female Clothes</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Headware</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Accessory</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">About us</a>
              </li>
            </ul>
          </div>
          <div class="navbar-nav">
              <form action="/user/search" method="GET" class="form-inline">
              <div class="form-group">
                <input type="text" name="search" placeholder="Searching items" class="form-control">
                <button type="submit" class="btn btn-default"><i class="fa fa-search p-2"></i></button>
              </div>
            </form>
              <li class="btn">
                  <i class="fa fa-shopping-basket p-2"></i> 
                  Cart: <span id="cartNumbers">0</span>
              </li>
          </div>
        </nav>
  </div>
  </header>
    <!--End of header-->

    <main class="main_address col-lg-12">
        <div class="container">
            <div class="row">
                <div class="col-3 col-sm-3 col-lg-3 col-md-12 left_profile">
                    <div class="prof row nav-item">
                        <i class="fas fa-user-circle"></i>
                        <p>Name Account <br/> <a href="/user/profile"><i class="fas fa-pen"></i> <span>Edit profile</span></a></p>
                    </div>
                    <hr/>
                    <div class="account row">
                        <a href="#"><i class="fas fa-user-circle btn btn-user"></i></a>
                        <a href="#" style="margin-top: 2px;">My account</a>
                    </div>
                    <div class="row selection_account">
                        <div class="list-group list-group-flush list_account">
                            <a href="/user/profile" class="list-group-item list-group-item-action">Profile</a>
                            <a href="/user/address" class="list-group-item list-group-item-action text-primary">Adress</a>
                            <a href="/user/change_pw" class="list-group-item list-group-item-action">Change the password</a>
                        </div>
                    </div>
                    <div class="bill row">
                        <a href="#"><i class="far fa-file-alt btn"></i></a>
                        <a href="#"><p>Bill</p></a>
                    </div>
                    
                    <div class="notification row">
                        <a href="#"><i class="far fa-bell btn"></i></a>
                        <a href="#"><p>Notification</p></a>
                    </div>

                </div>
                <div class="col-9 col-sm-9 col-lg-9 col-md-12 right_address">
                    <div class="h4">
                        My address
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="form-group row row_name">
                            <p class="mb-0 col-3 col-sm-3 col-md-3">First and last name <span>:</span> </p>
                            <p class="address_value col-3 col-sm-3 col-md-3">Nguyen Van A</p>
                        </div>
                        <div class="form-group row row_number_phone">
                            <p class="mb-0 col-3 col-sm-3 col-md-3">Number phone <span>:</span> </p>
                            <p class="address_value col-3 col-sm-3 col-md-3">123456789</p>
                        </div>
                        <div class="form-group row row_address">
                            <p class="mb-0 col-3 col-sm-3 col-md-3">Address <span>:</span> </p>
                            <p class="address_value col-3 col-sm-3 col-md-3">Kí túc xá 135B Trần Hưng Đạo,
                                Phường Cầu Ông Lãnh, Quận 1, TP. Hồ Chí Minh</p>
                        </div>
                    </div>
                    <div class="button_group">
                        <button type="button" class="btn btn-primary btn-edit" data-toggle="modal" data-target="#EditModal">
                            Edit
                        </button>
                        <button type="button" class="btn btn-danger btn-delete" data-toggle="modal" data-target="#DeleteModal">
                            Delete
                        </button>
                    </div>
                    <div class="modal_form">

                        <!--Modal Edit-->

                        <div class="modal fade" id="EditModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                              
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">My address</h4>
                                    <!--    <button type="button" class="submit" data-dismiss="modal">&times;</button>-->
                                    <!--    <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                                    </div>
                                    
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="row row_n">
                                            <label for="input_name" class="col-sm-3 col-3 col-md-3 col-form-label">First and last name : </label>
                                            <div class="col-sm-6 col-6 col-md-6">
                                                <input type="text" class="form-control" id="input_name">
                                            </div>
                                        </div>
                                        <div class="row row_nb">
                                            <label for="input_number_phone" class="col-sm-3 col-3 col-md-3 col-form-label">Number phone : </label>
                                            <div class="col-sm-6 col-6 col-md-6">
                                                <input type="number" class="form-control" id="input_number_phone">
                                            </div>
                                        </div>
                                        <div class="row row_adr">
                                            <label for="input_address" class="col-sm-3 col-3 col-md-3 col-form-label">Address : </label>
                                            <div class="col-sm-6 col-6 col-md-6">
                                                <input type="text" class="form-control" id="input_address">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                                    </div>
                                
                                </div>
                            </div>
                        </div>

                        <!--Modal Delete-->
                        <div class="modal fade" id="DeleteModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                              
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title">Warning</h4>
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                
                                <!-- Modal body -->
                                <div class="modal-body">
                                    Do you want to be sure to delete this data
                                </div>
                                
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <div class="row">
                                        <button type="button" class="btn btn-danger btn-de" data-dismiss="modal">Delete</button>
                                        <button type="button" class="btn btn-primary btn-cl" data-dismiss="modal">Close</button>
                                    </div>
                                  
                                </div>
                                
                              </div>
                            </div>
                        </div>



                    </div>
                    
                </div>
            </div>
        </div>
    </main>
    
    



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</body>
</html>